@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    padding: 20px;
    background-color: rgb(56, 56, 56);
    color:whitesmoke;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu.override{
    
}

